<div class="body__container">
    <header>
        <h1>{body.h1}</h1>
    </header>
    <main>
        <form action="{form.action}" id="{form.id}" method="POST">
            <label for="name">Name*</label>
            <input name="name" type="text" placeholder="Type your Name" data-validate="Name is required" required>
            <span class="border_effect"></span>
            <label for="surname">Surname*</label>
            <input name="surname" type="text" placeholder="Type your Surname" data-validate="Surname is required" required>
            <span class="border_effect"></span>
            <label for="email">Email*</label>
            <input name="email" type="email" placeholder="Type your Email" data-validate="Email is required" required>
            <span class="border_effect"></span>
            <label for="password">Password*</label>
            <input name="password" type="password" placeholder="Type your password" data-validate="Password is required" required>
            <span class="border_effect"></span>
            <label for="password">Confirm Password*</label>
            <input type="password" placeholder="Type your password" data-validate="Password is required" required>
            <span class="border_effect"></span>
            <div class="form__buttonContainer">
                <button type="submit">Sign Up</button>
            </div>
        </form>
        <p>Or Login Using</p>
        <a href="/login">Login</p>
    </main>
</div>