<header>
    <h1>{body.h1}</h1>
</header>
<main>
    <form action="#">
        <label for="username">Username</label>
        <input id="username" type="text" placeholder="Type your username" data-validate="Username is required">
        <span class="border_effect"></span>
        <label for="password">Password</label>
        <input id="password" type="text" placeholder="Type your password" data-validate="Password is required">
        <span class="border_effect"></span>
        <p>Forgot your password?</p>
        <input type="button" value="Login">
    </form>
    <p>Or Sign Up Using</p>
    <div class="social_logins">
        <div><img src="../public/images/facebook.png" alt="facebook logo"></div>
        <div><img src="../public/images/twitter.png" alt="twitter logo"></div>
        <div><img src="../public/images/google-plus.png" alt="google+ logo"></div>
    </div>
    <p>Or Sign Up Using</p>
    <a href="account/sign-up">SIGN UP</p>
</main>